:root {
    --default: #6d0000;
    --wrong: #3a3a3c;
    --misplaced: #b59f3b;
    --correct: #538d4e;
    --text-color: #f5f5f5;
}

.light-mode {
    --default: #F5F8FF;
    --wrong: #ff4d4d;
    --correct: #00cc66;
    --misplaced: #ffcc00;
    --text-color: #121213;
    
}


body {
    background-color: var(--default);
    color:  var(--text-color);
    font-family: 'Roboto', sans-serif;
}

header h1 {
    margin: 20px 0;
}

header {
    border-bottom: 1px solid #F5F8FF;
    text-align: center;
}
.letter{
    width: 60px;
    height: 60px;
    border: 2px solid var(--text-color);
    text-transform: uppercase;
    font-size: 2.4rem;
    display: grid;
    place-items: center;
}

#wordle-grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 8px;
    
}

#game {
    display: grid;
    place-items: center;
    height: 70vh;
}

.correct {
    background-color: var(--correct);
}
.misplaced {
    background-color: var(--misplaced);
}
.incorrect {
    background-color: var(--wrong);
}

